*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: var(--black);
    background-color: var(--white_1);
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Color */
    --dark_blue: #003e5d;
    --mid_blue: #0176aa;
    --light_blue: #00acf8;
    --orange: #f89807;
    --green: #06a948;
    --red: #ff3b30;
    /* Light */
    --white_1: #f4f5f6;
    --white_2: #e8ecec;
    /* Shadow */
    --gray: #1e1e1e;
    --dark_gray: #1a1a1a;
    --black: #1c232b;
}
  
a {
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    color: var(--secondary);
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: min(7vw, 32pt);
    font-weight: 700;
}

h2 {
    font-size: min(6vw, 26pt);
    font-weight: 700;
}

h3 {
    font-size: min(5vw, 20pt);
}

p {
    font-size: min(4vw, 12pt);
}

.container {
    padding: 2.5rem 15vw;
}

@media (width < 760px) {
    .container {
        padding: 1.5rem 5vw;
    }
}