.dashboard-info {
	width: 100%;
	border-collapse: collapse;
}
.dashboard-info td {
	border: 3px solid #ddd;
	padding: 50px;
	text-align: left;
	margin-right: 15px; 
}

.dashboard1 .datetime {
    display: inline-flex;
    list-style: none;
    gap: 1rem;
}

.dashboard1 .datetime {
    display: inline-flex;
    list-style: none;
}

.dashboard1 .summary {
    display: flex;
    gap: 1rem;
}
.summary-item {
    flex: 25%;
    padding: 1.5rem;
    color: var(--white);
    background-color: var(--secondary);
}

@media (width < 760px) {
    .dashboard1 .summary {
        flex-direction: column;
    }
    
}