.copyright1 {
    display: flex;
    justify-content: space-between;
    padding: 2.5vh 15vw;
    background-color: var(--gray);
    color: var(--white_1);
}

@media (width < 760px) {
    .copyright1 {
        flex-direction: column;
        text-align: center;
    }
}