.forms1 {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to bottom, #29adeb45, #32466c95),
    url(../assets/imgs/background/bg4.jpg);
  background-size: cover;
  background-position: center;
  color: var(--textinverted);
  position: relative;
}
.forms1 .center {
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  position: relative;
}
.forms1 .login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff25;
  backdrop-filter: blur(15px);
  max-width: fit-content;
  height: fit-content;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0 0 20rem var(--gray);
}
.forms1 form {
  padding: 2.5rem;
}
.forms1 a {
  text-decoration: underline;
  padding: 0.5rem;
  color: var(--white_1);
}
.forms1 .forgot {
  display: block;
  margin: 0;
  padding: 0;
}
.forms1 .forgot:hover {
  color: var(--light_blue);
}
.forms1 .title {
  width: 30rem;
  text-align: center;
}
.forms1 span {
  font-size: min(7vw, 36pt);
  font-weight: 700;
  display: block;
}
.forms1 img {
  margin-bottom: 1rem;
}
.forms1 .action-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2.5rem;
}
.forms1 .back {
  position: absolute;
  top: 1rem;
  right: 1rem;
  text-decoration: none;
  font-weight: 900;
}
/*  */
.dashboard-info {
  width: 100%;
  border-collapse: collapse;
}
.dashboard-info td {
  border: 3px solid #ddd;
  padding: 50px;
  text-align: left;
  margin-right: 15px;
}
.dashboard1 .datetime {
  display: inline-flex;
  list-style: none;
  gap: 1rem;
}
.dashboard1 .datetime {
  display: inline-flex;
  list-style: none;
}
.dashboard1 .summary {
  display: flex;
  gap: 1rem;
}
.summary-item {
  flex: 25%;
  padding: 1.5rem;
  color: var(--white_1);
  background-color: var(--light_blue);
}
/*  */

@media (width < 760px) {
  .dashboard1 .summary {
    flex-direction: column;
  }
  /*  */
  .login1 .center {
    overflow-x: hidden;
    padding: 1rem;
  }
  /*  */
  .dashboard1 {
    padding: 1rem 5vw;
  }
  /*  */
}





.dashboard_1 {
  display: flex;
  margin-bottom: 15px;
  padding: 0;
  flex-grow: 1;
  height: 180px;
}

.container2 {
  display: flex;
  flex-direction: row;
}

.dashboard_2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  flex-grow: 1;
  max-width: 250px;
}

.dashboard_3 {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  flex-grow: 1;
  max-width: 100%;
  max-height: 100%;
}

.statistic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-basis: 280px;
  flex-grow: 1;
  max-height: 100%;
}
.statistic2 {
  background-color: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1;
  text-align: center;
  max-width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 768px) {
  /* Add styles for smaller screens */
  .container2 {
    flex-direction: column; /* Adjust as needed for your layout */
  }
  .dashboard_3 {
    max-width: 100%; /* Allow it to take the full width on smaller screens */
    max-height: none; /* Allow it to grow vertically based on content */
  }
  .statistic2 {
    max-width: 100%; /* Allow it to take the full width on smaller screens */
  }
}

.card-text {
  font-size: 20px;
}

.category-nav {
  background-color: #e0e0e0;
  padding: 10px;
  margin-top: 1rem;
  text-align: left;
  width: 100%;
  border-radius: 10px;
}

.category-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 15px;
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
}

.course-table,
.student-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 8px;
  overflow: hidden;
  flex-grow: 1;
}

.course-table th,
.course-table td,
.student-table th,
.student-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.course-table th,
.student-table th {
  background-color: #949494;
}

.course-table tbody tr:hover,
.student-table tbody tr:hover {
  background-color: #f5f5f5;
}
